Frontend/InterfazDATMA/Connected Services/ReporteWS/ReporteWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.datmasoft.datma.pe/" targetNamespace="http://services.datmasoft.datma.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="reportePreferencias" type="tns:reportePreferencias" />
  <xs:element name="reportePreferenciasResponse" type="tns:reportePreferenciasResponse" />
  <xs:element name="reportePsicologos" type="tns:reportePsicologos" />
  <xs:element name="reportePsicologosResponse" type="tns:reportePsicologosResponse" />
  <xs:complexType name="reportePreferencias">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="reportePreferenciasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="reportePsicologos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="reportePsicologosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>