Frontend/InterfazDATMA/Connected Services/UsuarioWS/UsuarioWS11.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.datmasoft.datma.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="UsuarioWS" targetNamespace="http://services.datmasoft.datma.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.157.215.104:8080/EnvioEmail/UsuarioWS?xsd=1" namespace="http://services.datmasoft.datma.pe/" />
    </xsd:schema>
  </types>
  <message name="listarUsuarios">
    <part name="parameters" element="tns:listarUsuarios" />
  </message>
  <message name="listarUsuariosResponse">
    <part name="parameters" element="tns:listarUsuariosResponse" />
  </message>
  <message name="verificarUsuario">
    <part name="parameters" element="tns:verificarUsuario" />
  </message>
  <message name="verificarUsuarioResponse">
    <part name="parameters" element="tns:verificarUsuarioResponse" />
  </message>
  <message name="insertarUsuario">
    <part name="parameters" element="tns:insertarUsuario" />
  </message>
  <message name="insertarUsuarioResponse">
    <part name="parameters" element="tns:insertarUsuarioResponse" />
  </message>
  <message name="enviarDatosUsuario">
    <part name="parameters" element="tns:enviarDatosUsuario" />
  </message>
  <message name="enviarDatosUsuarioResponse">
    <part name="parameters" element="tns:enviarDatosUsuarioResponse" />
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception" />
  </message>
  <portType name="UsuarioWS">
    <operation name="listarUsuarios">
      <input wsam:Action="http://services.datmasoft.datma.pe/UsuarioWS/listarUsuariosRequest" message="tns:listarUsuarios" />
      <output wsam:Action="http://services.datmasoft.datma.pe/UsuarioWS/listarUsuariosResponse" message="tns:listarUsuariosResponse" />
    </operation>
    <operation name="verificarUsuario">
      <input wsam:Action="http://services.datmasoft.datma.pe/UsuarioWS/verificarUsuarioRequest" message="tns:verificarUsuario" />
      <output wsam:Action="http://services.datmasoft.datma.pe/UsuarioWS/verificarUsuarioResponse" message="tns:verificarUsuarioResponse" />
    </operation>
    <operation name="insertarUsuario">
      <input wsam:Action="http://services.datmasoft.datma.pe/UsuarioWS/insertarUsuarioRequest" message="tns:insertarUsuario" />
      <output wsam:Action="http://services.datmasoft.datma.pe/UsuarioWS/insertarUsuarioResponse" message="tns:insertarUsuarioResponse" />
    </operation>
    <operation name="enviarDatosUsuario">
      <input wsam:Action="http://services.datmasoft.datma.pe/UsuarioWS/enviarDatosUsuarioRequest" message="tns:enviarDatosUsuario" />
      <output wsam:Action="http://services.datmasoft.datma.pe/UsuarioWS/enviarDatosUsuarioResponse" message="tns:enviarDatosUsuarioResponse" />
      <fault wsam:Action="http://services.datmasoft.datma.pe/UsuarioWS/enviarDatosUsuario/Fault/Exception" name="Exception" message="tns:Exception" />
    </operation>
  </portType>
  <binding name="UsuarioWSPortBinding" type="tns:UsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="verificarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="enviarDatosUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
      <fault name="Exception">
        <soap:fault use="literal" name="Exception" namespace="" />
      </fault>
    </operation>
  </binding>
  <service name="UsuarioWS">
    <port name="UsuarioWSPort" binding="tns:UsuarioWSPortBinding">
      <soap:address location="http://54.157.215.104:8080/EnvioEmail/UsuarioWS" />
    </port>
  </service>
</definitions>